*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.Format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 1000px;
    margin: auto;
}
.Document {
background-color: black;
color: white;
padding: 15px;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.White{
    color: white;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid white;
    margin: 5px; 
}
