*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.Format{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 1000px;
    margin: auto;
}
.Document {
background-color: black;
color: white;
padding: 15px;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.White{
    color: white;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid white;
    margin: 5px; 
}
@media screen and (max-width: 500px) {
    body {
      background-color: red;
    }
    .purple {
        background-color: pink;
    }
    .Format {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 400px) {
    body{
        background-color: pink;
    } 
}
@media screen and (min-width: 1200px) {
    body {
        background-color: blueviolet;
    }
}
